{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": "3"
    }],
    ["@babel/preset-typescript", {
      "isTSX": true,
      "allExtensions": true
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-react-jsx"
  ]
}
