# # Github registry
# @seolhun:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# Npm registry
@seolhun:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${PUBLIC_NPM_TOKEN}