@import 'scss';

// Global Window
.SH__Window__LockScroll {
  overflow: hidden !important;
}

// Group
.SH__Group {
  &.Horizontal {
    & > * + * {
      margin-left: 1rem;
    }
  }
  &.Vertical {
    & > * + * {
      margin-top: 1rem;
    }
  }
}
