name: Storybook Build & Deployment at Github Page

on:
  push:
    branches: [main, develop]
    paths-ignore:
      - '**/*.md'

jobs:
  deploy-storybook:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Packages
        run: npm ci

      - name: Build Storybook
        run: npm run storybook:build

      - name: Deploy Storybook
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        with:
          branch: storybook
          folder: docs
